table{
    width: 700px;
    padding: 20px;
    margin: auto;
}
h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}
caption{
    text-decoration: underline;
}
th{
    background-color: red;
    padding: 20px;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
}
td{
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

tr:nth-child(even){
    background-color: palegreen;
    color: peru;
}
tr:nth-child(odd){
    background-color: plum;
    color: rgb(0, 42, 48);
}