.div1{
    background-color: rgb(221, 255, 255);
}
table{
    width: 700px;
    padding: 20px;
    margin: auto;
}
h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 500%;
    letter-spacing: 20px;
    line-height: 100px;
}
caption{
    text-decoration: underline;
}
th{
    background-color: red;
    padding: 20px;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
}
td{
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

tr:nth-child(even){
    background-color: palegreen;
    color: peru;
}
tr:nth-child(odd){
    background-color: plum;
    color: rgb(0, 42, 48);
}
.div2{
    background-color: rgb(255, 231, 210);
}
.img2{
    width: 360px;
    float: right;
    padding: 10px;
}
p{
    text-align: justify;
}
.div3{
    background-color: rgb(255, 202, 255);
    text-align: center;
}
.img1{
    width: 300px;
    height: 200px;
    margin: 40px;
}